*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue",Helvetica,;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size:large;
    color: #707070;
    
}
h2,p{
    margin-bottom: 20px;
}
.brtop {
  margin-top:5px;
  display:inline-block;
}
.row{
  display: flex;
}
.col{
  margin-right: 20px;
  padding-right: 20px;
}
input {
  border-radius: 3px;
  width: 25em;
  height: 40px;
  border: solid 1px #707070;
  margin-top: 10px;
  padding: 10px;
  }
  .error-block {
    color: red;
  }
  #btn {
    margin-right: 10px;
    width: 120px;
    background-color: black;
    color: white;
    height: 40px;
    border-radius:5px;

  }
  .info{
    justify-content: flex-end;
    padding-top: 20px;
  }
  
  a{
    text-decoration: none;
    color: #707070;
    font-weight: bold;
  }
  @media screen and (max-width: 600px){
    body {
      display: block;
    }
    input{
      width: 10em;
    }

    }